.alert {
    padding:5px 15px;
    margin-bottom: 10px;
}

.login-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/bg/bg.jpg") no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg/bg.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg/bg.jpg', sizingMethod='scale')";
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-panel {
    background: rgba(0, 255, 255, 0.1);
}

.login-panel .panel-title {
    padding:10px 0 20px;
    font-size:24px;
    text-align:center;
}

.list-actions.dropdown .dropdown-menu {
    right: 0;
    left: auto;
}

.fa-fw {
    margin-right:10px;
}

.user-code {
    width: 80px;
    display: inline-block;
    margin-left: 10px;
}

.use-dep-check {
    display: inline-block;
    vertical-align: middle;
    width:20px;
    height:20px;
    margin: 0;
}

.child-info-wrapper {
    padding-top: 20px;
}

.child-info-wrapper .child-info {
    font-size:18px;
    color: #666;
    margin: 10px;
}

.menu-week {
    text-align: center;
}

.menu-menu {
    font-weight: bold;
}

.menu-edit-link {
    position: absolute;
    right:10px;
}

.calendar-wrapper {
    padding: 0 100px;
}

#calendar #cal-slide-content a.event-item {
}

#calendar .cal-cell.active-cell {
    background-color: #eee;
}

#add-event-modal {
    width: 500px;
    height: 400px;
    background-color: #fff;
}

.nav_font_style {
    font-size: 16px;
    font-style: italic;
 }